.container {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-direction: column;
}

.title {
	text-align: center;
}

.title > h1 {
	font-family: Montserrat;
	line-height: 1;
	font-size: 35px;
	font-weight: normal;
	color: #164A41;
}

.title > p {
	font-family: Roboto;
	font-size: 18px;
}

.displaycards {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	flex-wrap: wrap;
	text-align:center;
}

.cardimage, .cardtext, .cardimage_2, .cardtext_2 {
	width: 45%;
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardimage {
}

.cardimage_2 {
	border-radius: 50%;
}

.cardtext, .cardtext_2 {
	padding:1rem;
}

.cardtext {
	border-radius: 50% 25% 75% 0;
	text-align: left;
	background: #F2F2F2;
}

.cardtext_2 {
	border-radius: 75% 0% 50% 25%;
	text-align: left;
	background: #F1B24A;
	color: #FFFFFF;
}


.content_1 {
	text-align: right;
}

.content > h1, .content_1 > h1 {
	font-family: Montserrat;
	font-size: 25px;
	font-weight: normal;
}

.content > p, .content_1 > p {
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
}

.image-testremovethis:hover {
	/*-ms-transform: scale(1.5); /* IE 9 */
	/*-webkit-transform: scale(1.5); /* Safari 3-8 */
	/*transform: scale(1.5); */
}

.image {
  max-width: 500vh;
  max-height: 500vh;
  display: flex;
  justify-content: right;
  align-items: center;
  /*transition: transform .5s;*/
}

.image > img {
	height: 50vh;
	width: 60vh;
	border-radius: 25% 0 25% 0;
}

@media (max-width: 1150px) {
  .displaycards {
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  }

  .cardimage, .cardtext, .cardimage_2, .cardtext_2 {
  	width: 100%;
  }

  .container {
  	padding: 2.5rem
  }

  .title {
  	padding-bottom:2.5rem;
  }
}