@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-direction: column;
}

.title {
	text-align: center;
	padding-bottom: 5rem;
}

.title > h1 {
	font-family: Yeseva One;
	font-size: 35px;
	font-weight: normal;
	color: #164A41;
}

.title > p {
	font-family: Josefin Sans;
	font-size: 18px;
}

.displaycards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align:center;
	gap: 5rem;
}

.cards {
	width: 45%;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #4D774E;
	border-radius: 0 25% 0 25%;
}

.content > h1 {
	font-family: Yeseva One !important;
	font-size: 35px;
	margin: 2.5rem 0 0 0;
	font-weight: normal;
	color: #FFFFFF;
}

.content > p {
	font-family: Josefin Sans;
	font-size: 18px;
	color: #FFFFFF;
}

.image-testremovethis:hover {
	/*-ms-transform: scale(1.5); /* IE 9 */
	/*-webkit-transform: scale(1.5); /* Safari 3-8 */
	/*transform: scale(1.5); */
}

.image {
  max-width: 500vh;
  max-height: 500vh;
  display: flex;
  justify-content: right;
  align-items: center;
  /*transition: transform .5s;*/
}

.image > img {
	border-radius: 0 25% 0 25%;
}

.social {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.social > button {
	font-size: 16px;
	font-family: Josefin Sans;
	padding: 12px;
	background-color: darkorange;
	border: 0px;
	border-radius:6px;
	color: white;
	margin: 16px 0 0 0;
	cursor: pointer;
}

@media (max-width: 1150px) {
  .displaycards {
  	flex-direction: column;
  }

  .container {
  	padding: 2.5rem
  }

  .title {
  	padding-bottom:2.5rem;
  }

  .cards {
  	width: 100%
  }
}