@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
	margin: 0 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.title {
	text-align: center;
	padding: 5rem 0 5rem 0;
}

.title > h1 {
	font-family: Montserrat;
	font-size: 35px;
	line-height: 1;
	font-weight: normal;
	color: #164A41;
}

.title > p {
	font-family: Roboto;
	font-size: 18px;
}

.goals {
	margin: 0 0 0 0;
	display: flex;
}

.first_section {
	margin: 0 0 0 0;
	background: #164A41;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width:60%;
}

.content > p {
	font-size: 18px;
	color: white;
	margin: 16px 0 16px 0;
	font-family: Roboto;
}

.content > h6 {
	font-size: 18px;
	color: white;
	margin: 16px 0 16px 0;
	font-family: Montserrat;
	font-weight: normal;
}

.content > h1 {
	font-size: 35px;
	line-height: 1;
	color: white !important;
	margin: 16px 0 0 0;
	font-family: Montserrat;
	font-weight: normal;
	color: darkorange;	
}

.image {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-image: url('/images/sunflower.svg');
  background-position: center;
  background-size: cover;
}

@media (max-width: 1150px) {
		.title {
			padding:2.5rem 0 2.5rem 0;
		}

		.goals {
			flex-direction: column-reverse;
		}

	  .first_section {
	  	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	  	text-align: left;
	  	width: 100%;
	  }

	  .image {
	  	width: 100%;
	  	height: 60vh;
	  }
}