<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plant.co</title>
</head>
<body>
	<h1>Reset Password</h1>
	<p>Hello, <%= email %>!</p>
	<form action="" name="resetForm" method="post" onsubmit="validateForm()">
		<label>New Password</label>
		<input type="password" id="password" name="password" placeholder="new password" required>
		<label>Confirm Password</label>
		<input type="password" id="confirmpassword" name="confirmpassword" placeholder="confirm password" required>
		<input type="submit" value="reset password">
	</form>
</body>
</html>