@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-direction: column;
}

.title {
	text-align: center;
	padding-bottom: 5rem;
}

.title > h1 {
	font-family: Montserrat;
	line-height:1;
	font-size: 35px;
	font-weight: normal;
	color: #164A41;
}

.title > p {
	font-family: Roboto;
	font-size: 18px;
}

.displaycards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align:center;
	gap: 5rem;
}

.cards {
	width: 45%;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25% 0 25% 0;
}

.content {
}

.content > h1 {
	font-family: Montserrat;
	line-height: 1;
	font-size: 35px;
	font-weight: normal;
	color: #F1B24A;
}

.content > p {
	font-family: Roboto;
	font-size: 18px;
	text-align: center;

}

.image-testremovethis:hover {
	/*-ms-transform: scale(1.5); /* IE 9 */
	/*-webkit-transform: scale(1.5); /* Safari 3-8 */
	/*transform: scale(1.5); */
}

.image {
  max-width: 500vh;
  max-height: 500vh;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 25% 0 25% 0;
  /*transition: transform .5s;*/
}

.image > img {
	height: 50vh;
	width: 60vh;
}

@media (max-width: 1150px) {
  .displaycards {
  	flex-direction: column;
  	gap: 2.5rem;
  }

  .container {
  	padding: 1rem
  }

  .title {
  	padding-bottom:2.5rem;
  }

  .cards {
  	width: 100%
  }
}