.container {
	margin: 0 0 0 0;
	padding: 1rem 10rem 1rem 10rem;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); 
}

.brand {
	display: flex;
}

.brand > a {
	font-size: 45px;
	font-family: Yeseva One;
	color: #164A41;
}

.brand > img {
	height:45px;
}

.navlink {
	display: flex;
	align-items: center;
	gap: 30px;
	color: black ;
}

.navlink > a:hover {
	color: #ED820E;
	text-decoration: underline;
}

.navlink > a {
	font-size: 18px;
	font-family: Roboto;
	cursor: pointer;
	font-weight: 650px;
	transition: .5s;
}

.navlink > button {
	font-size: 18px;
	font-family: Roboto;
	cursor: pointer;
	font-weight: 650px;
	transition: .5s;
	border: none;
	color: #FFFFFF;
	background: #164A41;;
	padding: 14px;
}

.ctalink {
	display: none;
}

.ctalink > img {
	max-height:5vh;
	cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}
@media (max-width: 1150px) {
/*	.navlink {
		display: none
	}
	.ctalink {
		display:initial;
	} */
	.container {
		padding: 1rem 2.5rem 1rem 2.5rem;
		flex-direction: column;
	}

}

