@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container {
	margin: 0 0 0 0;
	display: flex;
}

.first_section {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width:60%;
	background: #164A41;
}

.content > p {
	font-size: 18px;
	color: white;
	margin: 16px 0 16px 0;
	font-family: Josefin Sans;
}

.content > h1 {
	font-size: 35px;
	color: white !important;
	margin: 16px 0 0 0;
	font-family: Yeseva One;
	font-weight: normal;
	color: darkorange;	
}

.image {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-image: url('/images/quirky.png')
}


@media (max-width: 1150px) {
  .first_section {
    width: 100%;
    flex-direction: column;
    text-align: left;
  }

  .first_section {
  	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  	flex-direction: column-reverse;
  }

  .image > img {
  	margin-top: 0rem;
  	width: 100%;
  }
}