.container {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content: center;
}

.first_section {
	margin: 0 0 0 0;
	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width:70%;
	border: 1px solid;
}

.content > p {
	font-size: 18px;
	margin: 16px 0 16px 0;
	font-family: Roboto;
}

.content > h1 {
	font-size: 35px;
	margin: 16px 0 0 0;
	line-height: 1;
	font-family: Montserrat;
	font-weight: normal;
}

.image {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url('/images/contact.svg');
  background-size: cover;
  background-position: center;
}


@media (max-width: 1150px) {
	.container {
		padding: 2.5rem 2.5rem 2.5rem 2.5rem;
	}
}

@media (max-width: 750px) {
	.image {
		display: none;
	}
	.first_section {
		width: 100%
	}
}