html,
body {
  padding: 0;
  margin: 0;
  background:;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/YesevaOne/YesevaOne-Regular.ttf");
}

@media (prefers-color-scheme: black) {
  html {
    color-scheme: black;
  }
  body {
    color: black;
    background: black;
  }
}
