.container {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.beforefooting {
	min-height: 60vh;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: url('/images/outdoor.svg');
	background-position: center;
	background-repeat: no-repeat;
	transition: .5s;

}

.beforefooting > h1 {
	font-size: 35px ;
	margin: 0 0 0 0;
	line-height: 1;
	font-weight: normal;
	font-family: Montserrat;
}

.beforefooting > p {
	font-size: 18px;
	margin: 16px 0 0 0;
	font-family: Roboto;
}

.beforefooting > button {
	font-size: 16px;
	font-family: Roboto;
	padding: 12px;
	background-color: darkorange;
	border: 0px;
	border-radius:6px;
	color: white;
	margin: 16px 0 0 0;
	cursor: pointer;
}

.beforefooting > button:hover {
	background: linear-gradient(135deg, hsla(28, 93%, 55%, 1) 20%, hsla(77, 100%, 64%, 1) 100%);
}

@media (max-width: 1150px) {
	.container {
		padding: 2.5rem 0rem 2.5rem 0rem;
	}
	.beforefooting {
		align-items: center;
		
	}
}