.container {
	margin: 0 0 0 0;
	padding: 0rem 10rem 5rem 10rem;
	display: flex;
	align-items: center;
	flex-direction: column;	
}

.title {
	padding: 2rem;
	background: url('/images/fetch.svg');
	background-position: center;
	background-repeat: no-repeat;
	height: 120vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.title > hr {
	width: 100%;
	border: 1px solid #F1B24A;
}

.title > h6 {
	padding: 0 0 0 0;
	margin: 0;
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
}

.title > h1 {
	padding: 0 0 0 0;
	font-family: Montserrat;
	font-size: 35px;
	font-weight: normal;
	line-height: 1;
}

.title > p {
	padding-top:0;
	margin:0;
	font-family: Montserrat;
	font-size: 18px;
	color: #4D774E;
}

@media (max-width: 1150px) {
	.container {
		padding: 0rem 0rem 2.5rem 0rem;
		flex-direction: column;
	}

}