@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
	margin: 0 0 0 0;
	padding: 0 0 5rem 0;
	display: flex;
	gap: 1rem;
}

.first_section {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width:60%;
	background: #164A41;
}

.content > p {
	font-size: 18px;
	color: white;
	margin: 16px 0 16px 0;
	font-family: Roboto;
}

.content > h6 {
	font-size: 18px;
	font-weight: normal;
	color: white;
	margin: 16px 0 16px 0;
	font-family: Montserrat;
}

.content > h1 {
	font-size: 35px;
	line-height: 1;
	color: white !important;
	margin: 16px 0 0 0;
	font-family: Montserrat;
	font-weight: normal;
	color: darkorange;	
}

.image {
  width: 40%;
  background-image: url('/images/environment.svg');
  background-size: cover;
  background-position: center;
}

.content > button {
	font-size: 16px;
	font-family: Roboto;
	padding: 12px;
	background: #F78522;
	border: 0px;
	border-radius:6px;
	color: #FFFFFF;
	margin: 16px 0 0 0;
	cursor: pointer;
}

.content > button:hover {
	background: linear-gradient(135deg, hsla(28, 93%, 55%, 1) 20%, hsla(77, 100%, 64%, 1) 100%);
}


@media (max-width: 1150px) {
	.container {
		flex-direction: column;
	}
  .first_section {
  	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  	text-align: left;
  	width: 100%
  }
  .image {
  	height: 60vh;
  	width: 100%
  }
}
