@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
	margin: 0 0 0 0;
	background: #164A41;
}

.first_section {
	margin: 0 0 0 0;
	padding: 5rem 10rem 5rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	height: auto;
}

.second_section {
	margin: 0 0 0 0;
	padding: 5rem 10rem 0rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	height: auto;
}

.content > h1 {
	font-size: 35px ;
	color: white;
	margin: 16px 0 0 0;
	line-height: 1;
	font-weight: normal;
	font-family: Montserrat;
}

.content > p {
	font-size: 18px;
	color: white;
	margin: 16px 0 16px 0;
	font-family: Roboto;
}

.content > h6 {
	font-size: 18px;
	color: white !important;
	margin: 16px 0 0 0;
	font-family: Montserrat;
	font-weight: normal;
	color: darkorange;	
}

.image {
	width:70%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /*transition: transform .5s;*/
  border: 2px solid black;
}

.image > img {
	height: 70vh;
	width: 100%;
	margin-top: -10rem;
}

.image > h1 {
	font-size: 16px;
	color: white;
	font-family: Yeseva One;
	font-weight:normal;
}

.image > p {
	font-size: 14px;
	color: white;
	font-family: Roboto;
}

.content > button {
	font-size: 16px;
	font-family: Roboto;
	padding: 12px;
	background: #F78522;
	border: 0px;
	border-radius:6px;
	color: #FFFFFF;
	margin: 16px 0 0 0;
	cursor: pointer;
}

.content > button:hover {
	background: linear-gradient(135deg, hsla(28, 93%, 55%, 1) 20%, hsla(77, 100%, 64%, 1) 100%);
}

@media (max-width: 1350px) {
  .first_section {
    width: 100%;
    flex-direction: column;
    text-align: left;
  }

  .first_section {
  	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  	flex-direction: column-reverse;
  }

  .image > img {
  	margin-top: 0rem;
  	width: 100%;
  }
}